#!/usr/bin/make -f

package = adduser
version = $(shell dpkg-parsechangelog | awk '/^Version/{print $$2}')

build:
	$(checkdir)
	$(MAKE) -C po all
	touch build

clean:
	$(checkdir)
	$(MAKE) -C po $@
	-rm -rf build *~ debian/tmp debian/{*~,files*,substvars}

binary-indep:	checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	install -d debian/tmp/{DEBIAN,etc,usr/{sbin,lib/perl5/,share/{doc/adduser,man/man{5,8},lintian/overrides}}}
	install -m644 *.conf debian/tmp/etc
	sed -e s/VERSION/$(version)/g adduser > debian/tmp/usr/sbin/adduser
	sed -e s/VERSION/$(version)/g deluser > debian/tmp/usr/sbin/deluser
	sed -e s/VERSION/$(version)/g AdduserCommon.pm > debian/tmp/usr/lib/perl5/AdduserCommon.pm
	chmod 755 debian/tmp/usr/sbin/*
	ln -s adduser debian/tmp/usr/sbin/addgroup
	ln -s deluser debian/tmp/usr/sbin/delgroup
	sed -e s/VERSION/$(version)/g adduser.conf.5 > \
	  debian/tmp/usr/share/man/man5/adduser.conf.5
	sed -e s/VERSION/$(version)/g adduser.8 > \
	  debian/tmp/usr/share/man/man8/adduser.8
	sed -e s/VERSION/$(version)/g deluser.conf.5 > \
	  debian/tmp/usr/share/man/man5/deluser.conf.5
	sed -e s/VERSION/$(version)/g deluser.8 > \
	  debian/tmp/usr/share/man/man8/deluser.8
	
	chmod 644 debian/tmp/usr/share/man/{man5/*.5,man8/*.8}
	ln -s adduser.8.gz debian/tmp/usr/share/man/man8/addgroup.8.gz
	ln -s deluser.8.gz debian/tmp/usr/share/man/man8/delgroup.8.gz

	install -m644 TODO debian/tmp/usr/share/doc/adduser/
	install -m644 debian/changelog debian/tmp/usr/share/doc/adduser/
	find debian/tmp/usr/share/{doc,man} -type f | xargs gzip -9f
	install -m644 debian/override.Lintian debian/tmp/usr/share/lintian/overrides/adduser
	install -m644 debian/copyright debian/tmp/usr/share/doc/adduser/ 
	install -m644 debian/{conffiles,templates} debian/tmp/DEBIAN
	install -m755 debian/{postinst,prerm,config} debian/tmp/DEBIAN
	$(MAKE) -C po DESTDIR=`pwd`/debian/tmp install 
	dpkg-gencontrol -isp
	dpkg --build debian/tmp ..

binary-arch:	checkroot build
	$(checkdir)

define checkdir
	test -f $(package) -a -f debian/rules
endef

binary:		binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot

# Local Variables:
# mode:Makefile
